<script>
	$(document).ready(function() {
		$('.ui.accordion').accordion();
	});
</script>

<style>
	.ui.secondary.vertical.menu {
		width: 100%;
	}

	.ui.card {
		width: 100%;
	}
</style>

<div class="ui padded grid">
	<div class="five wide column">
		<div class="ui one column grid">

			<div class="column">
				<div class="ui card">
					<div class="image">
						<img src="" alt="">
					</div>
					<div class="content">
						<a class="header">
							Your Name
						</a>
						<div class="meta">
							Volunteer
						</div>
					</div>
				</div>
			</div>

			<div class="column">
				<div class="ui styled fluid accordion">
					<div class="active title">
						Lesson 1
					</div>
					<div class="active content">
						<div class="ui secondary vertical menu">
							<a class="item" href="/recording/index">
								Exercise #1
							</a>
							<a class="item" href="/recording/index">
								Exercise #2
							</a>
							<a class="item" href="/recording/index">
								Exercise #3
							</a>
							<a class="item" href="/recording/index">
								Exercise #4
							</a>
						</div>
					</div>

					<div class="title">
						Lesson 2
					</div>
					<div class="content">
						<div class="ui secondary vertical menu">
							<a class="item" href="/recording/index">
								Exercise #1
							</a>
							<a class="item" href="/recording/index">
								Exercise #2
							</a>
							<a class="item" href="/recording/index">
								Exercise #3
							</a>
							<a class="item" href="/recording/index">
								Exercise #4
							</a>
						</div>
					</div>

					<div class="title">
						Lesson 3
					</div>
					<div class="content">
						<div class="ui secondary vertical menu">
							<a class="item" href="/recording/index">
								Exercise #1
							</a>
							<a class="item" href="/recording/index">
								Exercise #2
							</a>
							<a class="item" href="/recording/index">
								Exercise #3
							</a>
							<a class="item" href="/recording/index">
								Exercise #4
							</a>
						</div>
					</div>

					<div class="title">
						Lesson 4
					</div>
					<div class="content">
						<div class="ui secondary vertical menu">
							<a class="item" href="/recording/index">
								Exercise #1
							</a>
							<a class="item" href="/recording/index">
								Exercise #2
							</a>
							<a class="item" href="/recording/index">
								Exercise #3
							</a>
							<a class="item" href="/recording/index">
								Exercise #4
							</a>
						</div>
					</div>

					<div class="title">
						Lesson 5
					</div>
					<div class="content">
						<div class="ui secondary vertical menu">
							<a class="item" href="/recording/index">
								Exercise #1
							</a>
							<a class="item" href="/recording/index">
								Exercise #2
							</a>
							<a class="item" href="/recording/index">
								Exercise #3
							</a>
							<a class="item" href="/recording/index">
								Exercise #4
							</a>
						</div>
					</div>
				</div><!-- ui styled fluid accordion -->
			</div><!-- column -->

		</div><!-- ui grid -->
	</div><!-- five wide column -->

	<div class="eleven wide column">
		<div class="ui vertical segment">
		
			<h1 class="ui header">
				Hello! Welcome to your personal user page.
			</h1>

			<h3>app > views > home_page > index.html.erb</h3>

				<ul> 
					<li>You can try out different exercises by clicking on the links the lessons menu.</li>
					<li>First, click "play" to listen to the audio file of the native speaker saying the vocabulary word.</li>
					<li>Next, try it for yourself by clicking "record".</li>
				</ul>
			
			<br />
			<br />

			<a class="ui blue button" href="/recording/index">
				Click here for Recording Page
			</a>
		</div>
	</div>

</div>