<div class="ui center aligned one column grid">

  <div class="row">
    <div class="column">
      <h1>Welcome to InTone!</h1>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <h2>InTone : Real-Time Visual Feedback for Mandarin Tone Acquisition</h2>
	  <br></br>
      <p>
	  InTone was created by Annita Kuo as a research project for the UCLA Internet Research Incubator.
	  The project's purpose is to test how useful an online language visualization tool is for tone acquisition.
	  The tool can be used independently by students learning Mandarin Chinese who want to sound more native-like.
	  By imitating a native speaker's voice displayed on the screen, a learner can practice while getting instantaenous
	  feedback on their tone productions. <br>
	  </p>
      <br></br>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <a class="ui green button" data-onsuccess="onSignIn" href="/quizzes">Click to Sign In</a>
    </div>
  </div>

</div>